<section class="hero py-16">
    <div class="container mx-auto row d-flex align-items-center justify-between">
        <div class="col-lg-4">
            <h6 class="text-lg"><em>Are you Vaccinated?</em></h6>
            <h1 class="text-6xl font-bold">Flat 50% off</h1>
            <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary" href="/menu">Order Now</button>
        </div>
        <div  class="col-lg-8">
            <img src="/img/cover.png" alt="pizza">
        </div>
    </div>
    
</section>
<section class="menu container mx-auto py-8">
<h1 class="text-xl font-bold mb-6">All pizzas</h1>
<div class="menubox col-gap-12 row-gap-16 ">
    <% pizzas.slice(4).forEach(function(pizza){ %>
        <div class="menumainbox my-8">
            <img class="h-48 mb-4 mx-auto" src="/img/<%= pizza.image %>" alt="pizza">
            <div class="text-center">
                <h2 class="mb-4 text-lg"><%= pizza.name %></h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= pizza.size %></span>
                <div class="menubutton flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹ <%= pizza.price %></span>
                    <button data-pizza="<%= JSON.stringify(pizza) %>" class="add-to-cart py-1 px-2 rounded-full flex items-center text-bold">
                        <span>+</span>
                        <span class="ml-2">Add</span>
                    </button>
                </div>
            </div>
        </div>
    <% }) %>
    
    
</div>

</section>
<section>
    <div class="offer">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="offerbox">
                    <img class="banner" src="/img/pizza1.png" alt="pizza">
                    <img class="banner" src="/img/pizza2.jpg" alt="pizza">
                    <img class="banner" src="/img/pizza3.jpg" alt="pizza">
                    <img class="banner" src="/img/pizza4.jpg" alt="pizza">
                </div>
            </div>
        </div>
    </div>
</section>