<section class="cart py-16">
    <% if(session.cart) { %>
    <div class=" delverydetails order container mx-auto">
        <div class="row d-flex align-items-center">
            <div class="col-lg-8">
                <div class="flex items-center border-b border-gray-300 pb-4">
                    <img class="h-10" src="/img/cart.png" alt="order summary">
                    <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
                </div>
                <div class="pizza-list">
                    <% for(let pizza of Object.values(session.cart.items)) { %>
                    <div class="flex items-center my-8">
                        <img class="h-20" src="/img/<%= pizza.item.image %>" alt="pizza">
                        <div class="flex-1 ml-4">
                            <h1><%= pizza.item.name %></h1>
                            <span><%= pizza.item.size %></span>
                        </div>
                        <div class="flex-1">

                            <button data-productCart="<%= pizza.item._id %>" data-action="remove" id="minus"
                                class="btn minus1 update-cart">-</button>
                            <input class="cart-quantity-input quantity w-8 text-center" type="text" id="id_form-0-quantity"
                                name="quantity" value="<%= pizza.qty %>">
                            <button data-productCart="<%= pizza.item._id %>" data-action="add" id="plus"
                                class="btn add1 update-cart">+</button>


                        </div>
                        <div>
                            <span id="itemPrice" class="font-bold text-lg"> ₹
                                <%= pizza.item.price * pizza.qty  %></span>
                            <button class="ml-12" id="deleteCartButton" data-pizzaId="<%= pizza.item._id %>"
                                onClick="deleteItemFormCart()"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>
                    <% } %>
                </div>
                <hr>
                <div class="text-right py-4">
                    <div>
                        <span class="text-lg font-bold">Total Amount:</span>
                        <span class="amaount text-2xl font-bold ml-2">₹ <%= session.cart.totalPrice %></span>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
            <% if(user) { %>
                
            <div class=" col-lg-4 my-12 mx-auto">
                <form action="/orders" method="POST" class="mt-12">
                    <div class="mb-3">
                        <input name="phone" class="border border-gray-400 p-2  w-full mb-4" type="text"
                        placeholder="Phone Number">
                    </div>
                    <div class="mb-3">
                      <textarea name="address" class="border border-gray-400 p-2 w-full	" type="text" placeholder="Address"></textarea>
                    </div>
                    <div>
                        <button type="submit" class="px-6 py-2 rounded-full text-white font-bold mt-6 btn-primary float-right">Order
                            Now</button>
                    </div>
                  </form>
                  <% } else { %>
                <div>
                    <a href="/login"
                        class="inline-block cursor-pointer px-6 py-2 rounded-full text-white font-bold mt-6 btn-primary">Login
                        to continue</a>
                </div>
                <% } %>

            </div>

        </div>
        <% }else { %>
        <div class="empty-cart py-16">
            <div class="container mx-auto text-center">
                <img class="h-60 mx-auto" src="/img/pizza.png" alt="empty card">
                <h1 class="text-3xl font-bold mb-2"> Your Cart is Empty</h1>
                <p class="text-gray-500 text-lg mb-12">You probably haven't ordered a pizza yet.</p>
                <a href="/menu"
                    class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Explore Menu</a>
            </div>
        </div>
    </div>
    <% } %>
</section>